<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="log4net" version="1.2.10" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.3" />
  <package id="Spark" version="1.5.1.6" />
  <package id="log4f" version="0.4" />
</packages>